
@{
    ViewBag.Title = "Edit";
}

<h4><u>Edit Existing Channel</u></h4>

<form method="post">
    <input type="hidden" name="ChannelId" value="@Model.ChannelId" />
    Channel Name: <input type="text" name="ChannelName" value="@Model.ChannelName" class="form-control" /><br />
    Established Year: <input type="number" min="1900" name="EstablishedYear" value="@Model.EstablishedYear" class="form-control" /><br />
    Country: <input type="text" name="Country" value="@Model.Country" class="form-control" /><br />
    <input type="submit" value="Update" class="btn btn-success" />
    <a href="/channel/list" class="btn btn-primary">Back</a>
</form>