
@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<a class="btn btn-info" href="/student/create">Create</a>

@{
    if (TempData["Msg"] != null)
    {
        <div class="alert alert-success">@TempData["Msg"]</div>
    }
}

<table class="table table-bordered">

    <tr>
        <th align="center">ID</th>
        <th align="center">Name</th>
        <th align="center">Cgpa</th>
        <th align="center">Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Cgpa</td>
            <td>
                <a href="/student/details/@item.Id" class="btn btn-primary">Details</a>
                <a href="/student/edit/@item.Id" class="btn btn-info">Edit</a>
                <a href="/student/delete/@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }

</table>
