@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <a href="/customer/list" class="btn btn-primary">Customer Dashboard</a>
    <a href="/product/list" class="btn btn-primary">Product Dashboard</a>
</div>